* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #e8e8e8;
}
.white {
    color: #e8e8e8;
}
.black {
    color: #3f3f3f;
}
.purple {
    color: #ad707f;
}
.fw200 {
    font-weight: 200;
}
.fw300 {
    font-weight: 300;
}
.fw400 {
    font-weight: 400;
}
.fw600 {
    font-weight: 600;
}
.fw700 {
    font-weight: 700;
}
.fw800 {
    font-weight: 800;
}
.fw900 {
    font-weight: 900;
}
.tac {
    text-align: center;
}
.taj {
    text-align: justify;
}
.alinea {
    padding-left: 1rem;
}
.normal {
    flex-direction: row;
}
.reverse {
    flex-direction: row-reverse;
}