<!DOCTYPE html>
<html lang="en">
<head>

    <!-- META INFORMATIONS -->
    <title>Agence Dev Web - Nocturn</title>
    <meta name="description" content="Une agence qui place vos idées et vos envies au premier plan. 🤝 Création, refonte et développement d’applications web rapides et performantes. ⚙️">
    <link rel="icon" type="image/png" href="../img/faviconWhite.png">

    <!-- META OpenGraph -->
    <meta property="og:url" content="https://nocturn.agency">
    <meta property="og:title" content="Une agence web qui place vos idées et vos envies au premier plan 🤝">
    <meta property="og:description" content="Création, refonte et développement d’applications web rapides et performantes. ⚙️ Notre philosophie est l’échange au cœur des projets. ❤️">
    <meta property="og:site_name" content="Agence Dev Web - Nocturn">
    
    <!-- META DATA UNDERSTANDING -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- LINK FontAwesome, Google Fonts, Animate.css -->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <!-- LINK CSS STYLES -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/home/header.css">
    <link rel="stylesheet" href="../css/home/main.css">
    <link rel="stylesheet" href="../css/home/footer.css">
    <link rel="stylesheet" href="../css/menu.css">

</head>
<body>
    <header>
        <div>
            <section class="white">
                <h1>Une agence qui place vos <strong>idées</strong> et vos <strong>envies</strong> au <strong>premier plan</strong>.</h1>
                <p>Nocturn est une agence web, ces principaux axes sont la création et la refonte de site web, 
                    le développement d'applications web rapides et performantes.</p>
                <span>
                    <a class="button" href="">Voir nos offres !</a>
                    <a class="button" href="">Voir nos projets !</a>
                </span>
            </section>
            <img class="animate__animated animate__pulse animate__slow animate__infinite" src="../img/Web Developer_Monochromatic.svg" alt="Un développeur est pleine activité.">
        </div>
    </header>
    <main>
        <div>
            <section id="synopsis">
                <h2 class="black">Votre souhait est d'obtenir un site vous représentant, au plus proche de vos idées et envies ?</h2>
                <p class="black">Le choix de placer vos idées et vos envies au coeur de nos projets est essentiel à notre philosophie. 
                    Par-dessus, nous nous plaçons en conseil vis-à-vis de ces idées et envies, afin de rendre vos projets réalisables à 100%. </p>
            </section>
            <section id="teamwork">
                <blockquote>
                    <h3 class="black">Travail d'équipe</h3>
                    <p class="black">
                        Notre but est de véritablement travailler aux côtés du client. C'est plus qu'un simple échange,
                        nous échangeons à chaque avancée du projet, afin de ne pas partir dans la mauvaise direction.
                        Dans l'objectif de part ça réactivité et sa remise en question, réaliser un travail de qualité,
                         à la fois rapide et fluide . Tout cela dans l'espoir d'obtenir un projet réalisé à 100%.
                    </p>
                    <a class="button" href="">Intéressez par le travail d'équipe ?</a>
                </blockquote>
                <img class="animate__animated animate__pulse animate__slow animate__infinite" src="../img/Problem Solving_Monochromatic.svg" alt="Une équipe complémentaire.">
            </section>
            <section id="satisfaction">
                <img class="animate__animated animate__pulse animate__slow animate__infinite" src="../img/Project presentation _Monochromatic.svg" alt="Un rapport d'équipe.">
                <blockquote>
                    <h3 class="black">Taux de satisfaction</h3>
                    <p class="black">
                        La satisfaction résulte de l'écoute, l'échange et la compréhension dans un projet. Lorsqu'il est 
                        mené à bien par vent et marée, la satisfaction que ressent le mandataire du projet est pour nous 
                        un sentiment d'accomplissement, de droit chemin et un geste professionnel. Caractéristiques de la
                        philosophie de notre agence. Tout cela dans l'espoir de satisfaire grâce à un projet réalisé à 100%.
                    </p>
                    <a class="button" href="">Hâte d'être satisfait ?</a>
                </blockquote>
            </section>
        </div>
    </main>
    <footer>
        <div>
            <a href=""><img src="../img/white.png" alt="Logo de l'agence."></a>
            <a class="white" href="">Nos Offres</a>
            <a class="white" href="">Nos Projets</a>
            <a class="button" href="">Espace Client</a>
            <p class="white">© 2021 Agence Nocturn. Tous droits réservés.</p>
        </div>
    </footer>
    <section id="network">
        <a href=""><i class="fab fa-instagram-square purple"></i></a>
        <a href=""><i class="fab fa-linkedin purple"></i></a>
        <a href=""><i class="fas fa-envelope-square purple"></i></a>
    </section>
    <menu id="desktop">
        <div>
            <section>
                <a href=""><img src="../img/white.png"></a>
                <a class="white" href="">Nos Offres</a>
                <a class="white" href="">Nos Projets</a>
            </section>
            <a class="button" href="">Espace Client</a>
        </div>
    </menu>
    <menu id="mobile">
        <div>
            <a href=""><img src="../img/white.png"></a>
            <a id="listenerMenu" class="fas fa-bars white" onclick="openMenu()"></a>
        </div>
    </menu>
    <section id="menuMobile" onclick="closeMenu()" class="animate__animated animate__fadeInLeftBig">
        <a href=""><img src="../img/white.png"></a>
        <a class="white" href="">Nos Offres</a>
        <a class="white" href="">Nos Projets</a>
        <a class="button" href="">Espace Client</a>
    </section>

    <script src="../js/menu.js"></script>
</body>
</html>