<!DOCTYPE html>
<html lang="fr">
<head>

    <!-- META INFORMATIONS -->
    <title>Nos Projets - Nocturn</title>
    <meta name="description" content="Une agence qui place vos idées et vos envies au premier plan. 🤝 Création, refonte et développement d’applications web rapides et performantes. ⚙️">
    <link rel="icon" type="image/png" href="../img/faviconWhite.png">

    <!-- META OpenGraph -->
    <meta property="og:url" content="https://nocturn.agency">
    <meta property="og:title" content="Une agence web qui place vos idées et vos envies au premier plan 🤝">
    <meta property="og:description" content="Création, refonte et développement d’applications web rapides et performantes. ⚙️ Notre philosophie est l’échange au cœur des projets. ❤️">
    <meta property="og:site_name" content="Nos Projets - Nocturn">
    
    <!-- META DATA UNDERSTANDING -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- LINK FontAwesome, Google Fonts, Animate.css -->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <!-- LINK CSS STYLES -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/projects/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/typo.css">

</head>
<body>
    <header>
        <div class="white">
            <h1 class="fw300 tac"><strong>Retrouvez la totalité de nos projets !</strong></h1>
            <h5 class="fw400 taj">Voici les personnes ou sociétés qui ont pu augmenter leur visibilité sur Internet ou créer leur commerce en ligne ou encore obtenir une application web pour leur travail grâce à notre <strong>Agence Nocturn</strong>.</h5>
            <section>
                <a class="network" href="" title="Nocturn - Instagram"><i class="fab fa-instagram purple fw800"></i></a>
                <a class="network" href="" title="Nocturn - Linkedin"><i class="fab fa-linkedin-in purple"></i></a>
                <a class="network" href="mailto:work@orionbs.fr" title="Nocturn - E-Mail"><i class="far fa-envelope purple"></i></a>
                <a class="network" href="tel:+33645237991" title="Nocturn - Phone"><i class="fas fa-sms purple"></i></a>
            </section>
        </div>
    </header>
    <main>
        <div class="black">
            <section class="normal">
                <blockquote>
                    <h3 class="fw800">Réseau FEVE - Association</h3>
                    <p class="fw400 taj">Le Réseau FEVE est un association qui a pour but de soutenir et accompagner les salariés dans leur envie d’agir, dans la création de FEVE en Entreprise ou Organisation, formation d’Ambassadeur, animer le réseau des salariés ambassadeurs et des partenaires.</p>
                    <a class="button" href="">Voir le site</a>
                </blockquote>
                <img class="animate__animated animate__pulse animate__slow animate__infinite" src="../img/Web Developer_Monochromatic.svg" alt="Un développeur est pleine activité.">
            </section>
            <section class="reverse">
                <blockquote>
                    <h3 class="fw800">Réseau FEVE - Association</h3>
                    <p class="fw400 taj">Le Réseau FEVE est un association qui a pour but de soutenir et accompagner les salariés dans leur envie d’agir, dans la création de FEVE en Entreprise ou Organisation, formation d’Ambassadeur, animer le réseau des salariés ambassadeurs et des partenaires.</p>
                    <a class="button" href="">Voir le site</a>
                </blockquote>
                <img class="animate__animated animate__pulse animate__slow animate__infinite" src="../img/Web Developer_Monochromatic.svg" alt="Un développeur est pleine activité.">
            </section>
            <section class="normal">
                <blockquote>
                    <h3 class="fw800">Réseau FEVE - Association</h3>
                    <p class="fw400 taj">Le Réseau FEVE est un association qui a pour but de soutenir et accompagner les salariés dans leur envie d’agir, dans la création de FEVE en Entreprise ou Organisation, formation d’Ambassadeur, animer le réseau des salariés ambassadeurs et des partenaires.</p>
                    <a class="button" href="">Voir le site</a>
                </blockquote>
                <img class="animate__animated animate__pulse animate__slow animate__infinite" src="../img/Web Developer_Monochromatic.svg" alt="Un développeur est pleine activité.">
            </section>
        </div>
    </main>
    <footer>
        <div>
            <a href="home.html"><img src="../img/white.png" alt="Logo de l'agence."></a>
            <a class="white fw600" href="prices.html">Nos Tarifs</a>
            <a class="white fw600" href="projects.html">Nos Projets</a>
            <a class="button" href="">Espace Client</a>
            <p class="white">© 2021 Agence Nocturn. Tous droits réservés.</p>
        </div>
    </footer>
    <menu id="desktop">
        <div>
            <section>
                <a href="home.html"><img src="../img/white.png"></a>
                <a class="white fw800" href="prices.html">Nos Tarifs</a>
                <a class="white fw800" href="projects.html">Nos Projets</a>
            </section>
            <a class="button" href="">Espace Client</a>
        </div>
    </menu>
    <menu id="mobile">
        <div>
            <a href="home.html"><img src="../img/white.png"></a>
            <a id="listenerMenu" class="fas fa-bars white" onclick="openMenu()"></a>
        </div>
    </menu>
    <section id="menuMobile" onclick="closeMenu()" class="animate__animated animate__fadeInLeftBig">
        <a href="home.html"><img src="../img/white.png"></a>
        <a class="white" href="prices.html">Nos Tarifs</a>
        <a class="white" href="projects.html">Nos Projets</a>
        <a class="button" href="">Espace Client</a>
    </section>

    <script src="../js/menu.js"></script>
</body>
</html>